# Python virtual environment
env/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Database files (if using local files)
*.sqlite3

# IDE/editor folders
.vscode/
.idea/
